{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{% if form.image_markup is not empty %}
  {{ form.image_markup }}
{% endif %}
{{ form.image }}
{{ form.title }}
{{ form.isbn }}
{{ form.subject }}
{{ form.volume }}
{{ form.grade }}
{{ form.type }}
{{ form.consumable }}
{{ form.depreciated }}
{% if form.book_item.old is not empty %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Condition</th>
        <th scope="col">Status</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for key, book in form.book_item.old %}
        {% if 'container_' in key %}
        <tr>
          {% for key_2, book_fields in book %}
            {% if 'book_id_label_' in key_2 %}
            <td scope="row">{{ book_fields }}</td>
            {% endif %}
            {% if 'condition_' in key_2 %}
              <td>{{ book_fields }}</td>
            {% endif %}
            {% if 'checked_status' in key_2 %}
              <td>{{ book_fields }}</td>
            {% endif %}
            {% if 'delete' in key_2 %}
              <td>{{ book_fields }}</td>
            {% endif %}
          {% endfor %}
          <tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
<div id="book-items">
  {% for key, book in form.book_item.new %}
    {% if 'container_' in key %}
      <div class="row">
       {{ book }}
      </div>
    {% endif %}
  {% endfor %}
</div>
<p><strong>NOTE:</strong> Book ID Fromat: XXX-XXXX => the book number - last 4 ISBN digits.</p>
<div>
  {{ form.actions.add_book_item }}
  {{ form.actions.submit }}
  {{ form.actions.cancel }}
</div>
<br />
<div>
  {{ form.actions.export_books }}
</div>
{% if form.actions.delete_book is not empty %}
  <br />
  <div>
    {{ form.actions.delete_book }}
  </div>
{% endif %}
